/* Universal Styles */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: black;
}

.mainPage {
    position: relative;
    top: 3rem;
}

.center {
    text-align: center;
}

/* Header */

header {
    position: fixed;
    background-color:  rgb(58, 58, 58);
    z-index: 100;
    width: 100%;
}

.headerContent {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.topLogo {
    color:  rgb(241, 241, 241);
    font-size: 1.5rem;
    font-weight: bold;
    flex: 1;    
}

header ul {
    display: flex;

}

header a {
    color:  rgb(241, 241, 241);
    font-size: .75rem;
}

header li {
    padding-left: 2rem;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    header .desktop {
        display: none;
    }

    .topLogo {
        color:  rgb(241, 241, 241);
        font-size: 1rem;
        font-weight: bold;
        flex: 1;    
    }
    
    header .mobile {
        display: block;
        width: 100%;
    }

    header .mobile a {
        color:  rgb(241, 241, 241);
        font-size: .75rem;      
    }
}
  
    
/* Mission Section */
#mission {
    height: 30rem;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../resources/explode1.jfif);
}

.missionContainer {
    max-width: 100%;
    margin: 0 auto;
}

.missionStatement{
    background-color: rgb(58, 58, 58);
    
    
    height: 10rem;
    margin: auto 0;
    width: 100%;
    color: rgb(241, 241, 241);
    opacity: .75;
}

.missionStatement h1 {
   margin-top: 1.5rem;
    text-align: center;
    font-size: 3rem;
    
}

.missionStatement h4 {
    text-align: center;
    font-size: 1rem;
    padding-top: .5rem;
}

/* Work Section */
#worklink {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.mainPage h1 {
    font-size: 3rem;
    text-align: center;
    color:rgb(241, 241, 241);
   
}

#work,
#work2,
#work3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem 5%;
    background-color: black
    
}

.job {
    flex: 1;
    padding: .5rem;
    margin: 0px 1.25rem;
    background-color: black;
    border: .5px solid rgb(241, 241, 241);
}

.jobContainer {
    width: 90%;
    height: 65%;
    margin: 0 auto;
}

.jcImage {
    max-width: 100%;
    margin: 0 auto;
    
}

.job .jobContent {
    padding: 1rem 0;
}

#work h2,
#work2 h2,
#work3 h2 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(241, 241, 241);
}

#work h3,
#work2 h3,
#work3 h3 {
    font-size: .95rem;
    text-align: center;
    padding-top: .5rem;
    color: rgb(241, 241, 241);
}

@media only screen and (max-width: 600px) {
#work,
#work2,
#work3 {
    flex-flow: column;
}
}

/* Team Section */

#team {
    display: flex;
    width: 90%;
    margin: 0 auto;
   
}

.teamHeading {
    
    text-align: center;
    background-color: black;  
    height: 3rem;
    margin: 0 auto;
    width: 100%;
    color: rgb(241, 241, 241);
    padding-top: 2rem;
    padding-bottom: 1rem;
}
}

.teamHeading h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
    
}


#members {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    padding: .5rem 5%;
    background-color: black
    
}

.singleMember {
    flex: 1;
    padding: .5rem;
    margin: 0px 1.25rem;
    background-color: black;
    
}

.memberContainer {
    width: 90%;
    height: 65%;
    margin: 0 auto;
}

.memberImage {
    max-width: 90%;
    margin: 0 auto;
    
    
}

.memberContent {
    padding: 1rem 0;
    color:rgb(241, 241, 241);
}

@media only screen and (max-width: 600px) {
    #members {
        flex-flow: column;
    }
    }